@{
    ViewBag.Title = "About Patient Management System";
    ViewBag.Message = "How it works?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Login using the approriate credentials according to the role you want to take. As an admin you can add users</p>
<p>Play around? Add users, add patients, add admins, add doctors and edit records</p>
<p>And more important, don't forget to have fun :)!</p>
