@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Axis Medical";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4786 Radio Park Drive<br />
    , GA 470-218-9039<br />
    <abbr title="Phone">P:</abbr>
    706.703.8811
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@axismedical.com">Support@axismedical.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@axismedical.com">Marketing@axismedical.com</a>
</address>